body{
font-family: Arial;
background-color:#fff0f5;
text-align:center;
}

h1{
color:#b22222;
}

form{
background:white;
padding:20px;
margin:auto;
width:260px;
border-radius:10px;
box-shadow:0px 0px 10px #ccc;
}

button{
background:#b22222;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
}